/* Prevent toolbar overlap */
.ql-toolbar {
  border-radius: 6px 6px 0 0;
  border: 1px solid #ececec;
}

.ql-container {
  height: 100%; /* ✅ fill parent height */
  max-height: none; /* ✅ remove height restriction */
  overflow-y: auto;
  border: 1px solid #ececec;
  border-top: none;
  border-radius: 0 0 6px 6px;
  background: #f7fbf7;
}
.ql-toolbar.ql-snow {
  background-color: #ffffff;
}
